html, body {
    overflow-x: hidden;
}

.alert-container {
    margin-top: 2%;
}

.quiz-choice-box {
    margin-top: 2%;
}

.quiz_card {
    text-align: center;
    width:70%;
    margin: auto;
}

.question-card {
    margin: 1%;
    text-align: center;
}

.submit-button {
    text-align: center;
}

.result-card {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    width: fit-content;
}

.home-button {
    margin-top: 2%;
}