<%- include ('./partials/header') %>

    <div class="container text-center" style="margin-top: 2%">
        <div class="row">
            <div class="col">
                <a href="/sum-quiz" class="link-secondary">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Sum - Quiz</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/minus-quiz" class="link-secondary">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Minus - Quiz</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- <h2>Node, Express & Mongo Quiz</h2>

    <form action="/quiz-submit" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
    </form> -->

    <%- include ('./partials/footer') %>