<%- include ('./partials/header') %>

    <div class="card user-card">
        <div class="card-body">
            <h2 class="card-title component-margin">Sign Up</h2>
            <form action="/user/signup" method="POST">
                <div class="form-group component-margin">
                    <input class="form-control" type="text" name="username" placeholder="Enter a username">
                </div>
                <div class="form-group component-margin">
                    <input class="form-control" type="password" name="password" placeholder="Enter a password">
                </div>
                <div class="form-group component-margin">
                    <button class="form-control btn-warning">Sign Up</button>
                </div>
            </form>
            <a href="/" class="card-link component-margin">
                <button type="submit" class="btn btn-warning">Home</button>
            </a>
        </div>
    </div>

    <%- include ('./partials/footer') %>